@model Book

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<form asp-action="Edit">
    <input type="hidden" asp-for="BookId" />
    <div class="mb-3">
        <label for="Booktitle" class="form-label">Book title</label>
        <input type="text" class="form-control" id="Booktitle" asp-for="Title">
    </div>
    <div class="mb-3">
        <label for="Booktype" class="form-label">Book Genre</label>
        <input type="text" class="form-control" id="BookGenre" asp-for="GenreName">
    </div>
    <div class="form-group">
        <label>Price:</label>
        <input type="text" class="form-control" id="Price" asp-for="Price" />
    </div>
    <div class="mb-3">
        <label for="authorname" class="form-label">Page Count</label>
        <input type="text" class="form-control" id="author" asp-for="PageCount">
    </div>
    <div class="mb-3">
        <label for="authorname" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" asp-for="Author.Name">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

